.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  @media (width >= 768px) {
    flex-direction: row;
  }
}

.sleeve {
  flex: none;
  width: 100%;

  @media (width >= 768px) {
    width: 16rem;
  }
}

.torso {
  flex-grow: 1;
  padding: 1.5rem;

  @media (width >= 768px) { 
    padding: 3rem;
    overflow-y: auto;
  }
}

label:has(input[type="checkbox"]) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: 0.85rem;
  max-width: 15rem;
  border-bottom: 1px solid #ccc;
}

label:has(input[type="checkbox"]:disabled) {
  color: rgb(171, 171, 171);
}

input:disabled {
  cursor: not-allowed;
}

input[type="checkbox"] {
  width: auto;
}